.flex-container {
    display: flex;
    background: skyblue;
    flex-direction: column;
}

.flex-container div {
    background: peachpuff;
    border: 4px solid brown;
    height: 100px;
    flex: 1 1 auto;
    margin: 8px;
}